*{margin:0; padding: 0;}
body{
	font-family: 'Segoi UI', Arial, sans-serif;
    width:100%;
    color:#333;
    font-size:11pt;
    padding: 5px;
}
body>div{
    width:500px;
    max-height:600px;
}
input, textarea, button{
	border:#bdc3c7 solid 1px;
	margin-bottom: 5px;
	padding: 4px;
}
input, textarea{
	width: 98%;
}
#sub label{
	margin-left: 5px;
	margin-right: 5px;
}

input[type="radio"]{
	width: auto;
}

#btnsub{
	background: #e67e22;
	border:#bdc3c7 solid 1px;
	color: #F5F5F5;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
#btnlimpar{
	background: #2ecc71;
	border:#bdc3c7 solid 1px;
	color: #F5F5F5;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
#mensagem{
	display: block;
	width: 100%;
	color:#27ae60;
	font-size:10pt;
}
#s_encontrar a{
	color: #c0392b;
	font-style: italic;
	margin-bottom: 5px;
	display: block;
}
#d_adicionar_encontrar{
	display: none;
}
#btnadicionar_encontrar{
	background: #c0392b;
	border:#bdc3c7 solid 1px;
	color: #F5F5F5;
	width: auto;
	padding: 2px 4px;
}
.lbl{
	display: block;
	color: #34495e;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*
* ****************
* Informações app
* ****************
*/

#lbl_sobre{
	display: block;
	text-align: right;
}
#inf_sobre{
	background: #ecf0f1;
	display: none;
	width:60%;
	height: auto;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px 0;
}
#fechar_sobre{
	clear: both;
	width: 100%;
	display: block;
	position: fixed;
	right: 5px;
	text-align: right;
	
}
#inf_sobre *{
	margin: 5px;
}
#inf_sobre .h{
	font-weight: bold;
}

#sobre_autor, #sobre_site{
	float: left;
}
#sobre_nome_autor, #a_sobre_site_autor{
	clear: right;
	width: 50%;
	display: block;
}
#a_sobre_site_autor{
	margin-top: 10px;
}
#fontes_dev{
	font-family: 'Lucida Sans Typewriter', Courier, 'Courier New';
	font-size: 8pt;
	overflow: auto;
}